@import url('https://fonts.googleapis.com/css?family=Roboto:light,black&display=swap')

$roboto: Roboto, sans-serif
$azul: rgb(43,156,218)
$violeta : rgb(136,97,227)
$naranja : rgb(237,130,63)
$gris-separador : rgb(228,228,228)
$gris-regular : rgb(121,121,121)
$gris-disabled : rgb(243,243,243)

.menu-lateral
    display: flex
    flex-direction: column
    padding: 0 2em

    div
        border-bottom: 1px solid $gris-separador

.menu-title
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

    p
        font-size: 0.8em

.search-bar
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
